body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Gris claro suave */
    color: #333;
    line-height: 1.6;
}

.bg-gradient-primary {
    background: linear-gradient(to right, #6c757d, #343a40); /* Gradiente suave gris a oscuro */
}

h1.display-4 {
    font-weight: 700;
}

.nav-link {
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ced4da !important; /* Hover suave */
}

.card {
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); /* Elevación al hover para acabado profesional
